.ui.inverted.top.fixed.menu {
    background-image: linear-gradient(90deg, #aea4e3, #d3ffe8) !important;
}

.card-item, .ui.clearing.segment, .ui.card, .ui.cards > .card {
    box-shadow: 0 0.75rem 1.25rem 0.0625rem #aaa;
    border-radius: 8px;
    border-width: 0;
}

.ui.container.main-container {
    margin-top: 7em;
}

.card.product-details {
    padding: 40px;
}

.card.product-details img {
    margin: 40px 0 40px 0;
    border-radius: 8px;
    width: 100%;
}

.product-list-card .ui.card, .ui.cards > .card {
    width: 348px;
    margin: 1em;
}